<link rel="stylesheet" href="timeTrack/src/app/main/main.css" />

<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Time Tracker</a>
            </div>
        </div>
        <div class="container-fluid time-entry">
            <div class="timepicker">
                <span class="timepicker-title label label-primary">Clock In</span>
                <div uib-timepicker ng-model="main.clockIn"  hour-step="1" minute-step="1" show-meridian="ismeridian"></div>
            </div>
            <div class="timepicker">
                <span class="timepicker-title label label-primary">Clock Out</span>
                <div uib-timepicker ng-model="main.clockOut"  hour-step="1" minute-step="1" show-meridian="ismeridian"></div>
            </div>
            <div class="time-entry-comment">
                <form class="navbar-form">
                    <input type="hidden" ng-model="main.id"/>
                    <input class="form-control" ng-model="main.title" placeholder="Enter a Task Name"/>
                    <textarea  class="form-control" ng-model="main.description" placeholder="Enter a Comment"></textarea>
                    <button class="btn btn-primary" ng-click="main.addTimeTask()">Log Time</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="col-sm-8">

        <div class="well vm" ng-repeat="TaskInfo in main.TaskList">
            <div class="row">
                <div class="col-sm-8">
                    <h4><i class="glyphicon glyphicon-user"></i>{{TaskInfo.user_name}}</h4>
                     <span ng-if="TaskInfo.isedit"><a class="add-btn" ng-click="main.updateTask(TaskInfo)"><i class="glyphicon glyphicon-pencil"></i>Edit</a> </span>
                    <p>Task Name : {{TaskInfo.title}}</p>
                    <p>Task Description : {{TaskInfo.description}}</p>
                </div>
                <div class="col-sm-4 time-numbers">
                    <h4><i class="glyphicon glyphicon-calendar"></i> {{TaskInfo.finish_time | date:'mediumDate'}}</h4>
                    <h2>
                        <span class="label label-primary" ng-show="TaskInfo.loggedTime.duration._data.hours > 0">
                            {{TaskInfo.loggedTime.duration._data.hours}} hour<span ng-show="TaskInfo.loggedTime.duration._data.hours >1">s</span>
                    </span>
                    </h2>
                    <h4><span class="label label-default">{{TaskInfo.loggedTime.duration._data.minutes}} minutes</span></h4>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-4">
        <div class="well time-numbers">
            <h1><i class="glyphicon glyphicon-time"></i> Total Time</h1>
            <h1><span class="label label-primary">{{main.totalTime.hours}} hours</span></h1>
            <h3><span class="label label-default">{{main.totalTime.minutes}} minutes</span></h3>
        </div>
    </div>
</div>
