<!doctype html>
<html ng-app="timeTrack">
<head>
    <meta charset="utf-8">
    <title>Time Tracker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <link rel=stylesheet href=timeTrack/dist/styles/vendor-c7124ccb33.css>
    <link rel=stylesheet href=timeTrack/dist/styles/app-d3b16ab6af.css>
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="content" ui-view="content"></div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<script  type="text/javascript" src=timeTrack/dist/scripts/vendor-00ed755258.js ></script>
<script  type="text/javascript" src=timeTrack/dist/scripts/app-b740e4df68.js ></script>
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->


<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
