<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>

    <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Task Name</th>
                    <th>Task Description</th>
                    <th>Start Time</th>
                    <th>Finish Time</th>
                    <th>Total Log Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="( taskId , taskInfo) in admin.TaskList track by $index">
                    <td>{{taskInfo.user_name}}</td>
                    <td>{{taskInfo.title}}</td>
                    <td>{{taskInfo.description}}</td>
                    <td>{{taskInfo.start_time| date:'mediumDate'}}</td>
                    <td>{{taskInfo.finish_time| date:'mediumDate'}}</td>
                    <td>
                        <span class="label label-primary" ng-show="taskInfo.loggedTime.duration._data.hours > 0">
                            {{taskInfo.loggedTime.duration._data.hours}} hour<span ng-show="taskInfo.loggedTime.duration._data.hours >1">s</span>
                    </span> <span class="label label-default">{{taskInfo.loggedTime.duration._data.minutes}} minutes</span>

                        </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
